<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adventurpriseme.castme">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

	<uses-feature
		android:name="android.hardware.wifi"
		android:required="true">
	</uses-feature>

	<application
		android:name=".MainApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_castme_logo"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat">
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>

		<!-- Splash Screen activity must be launcher -->
		<activity
			android:name="com.adventurpriseme.castme.CSplashScreen"
			android:label="CastMe"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- Main Activity (CCL Trivia) -->
		<activity
			android:name="com.adventurpriseme.castme.CCLTriviaActivity.CCLTriviaActivity"
			android:label="@string/app_name">
		</activity>

		<activity
			android:name=".TriviaGame.TriviaPrefsActivity"
			android:label="@string/title_activity_trivia_prefs"
			android:parentActivityName="com.adventurpriseme.castme.CCLTriviaActivity.CCLTriviaActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.adventurpriseme.castme.CCLTriviaActivity.CCLTriviaActivity"/>
		</activity>
	</application>

</manifest>
